.card {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; /* children should be displayed in 3D space*/
}

.back, .front {
    position: absolute;
   /* margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    left: 50%;  top: 50%; bottom: 50%; right: 50%; */
     width: 272px; 
     height: 380px; 
    -moz-transition: all .8s;
    -o-transition: all .8s;
    -webkit-transition: all .8s;
    transition: all .8s;
}

.back {
    background-image: url("../images/back.jpg");
}

.front {
    background-image: url("../images/front.jpg");

    -moz-transform: rotate3d(0,1,0, 180deg);
    -ms-transform: rotate3d(0,1,0, 180deg);
    -o-transform: rotate3d(0,1,0, 180deg);
    -webkit-transform: rotate3d(0,1,0, 180deg);
    transform: rotate3d(0,1,0, 180deg);
}

.card:hover .back {
    -moz-transform: rotate3d(0,1,0, 180deg);
    -ms-transform: rotate3d(0,1,0, 180deg);
    -o-transform: rotate3d(0,1,0, 180deg);
    -webkit-transform: rotate3d(0,1,0, 180deg);
    transform: rotate3d(0,1,0, 180deg);
}

.card:hover .front {
    -moz-transform: rotate3d(0,1,0, 0deg);
    -ms-transform: rotate3d(0,1,0, 0deg);
    -o-transform: rotate3d(0,1,0, 0deg);
    -webkit-transform: rotate3d(0,1,0, 0deg);
    transform: rotate3d(0,1,0, 0deg);
}

.backface .back, .backface .front {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; /* Determines whether the content of the element is visible. With the help of 3d transformations, is turned away from the user */
}